.btn {
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1 / 1;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem;
    color: black;
}

.btn.active {
    background-color: rgb(120, 192, 255);
    color: rgb(255, 255, 255);
}

.btn.inactive {
    opacity: 0.3;
}

.btn:hover:not(:disabled) {
    background-color: aliceblue;
}

.btn:focus:not(:disabled) {
    background-color: rgb(180, 220, 255);
}